* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
  }

body {
    /*background-color: rgb(248, 241, 229);*/
    background-color: #62417c;
    color: whitesmoke;   
}

header {
  margin: 2rem 0;
  text-align: center;
}

.input-section {
  margin-bottom: 1rem;
}



.input-section .first-form {
  display: flex;
  justify-content: center;
 
}



.smallscreenbtn {
  display: none;
}

label {
  font-size: 25px;
  margin-right: 3rem;
}

.location {
  background: white;
  outline: none;
  border: none;
  height: 2rem;
  width: 20rem;
  padding: 10px 15px;
  color: black;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 16px;
  margin-right: 2 rem;
}

button {
  margin-left: 1rem;
  height: 2rem;
  width: 5rem;
  background-color: orange;
}

.msg {
  color: orange;
  font-weight: bold;
  margin: auto;
  display: table;
}

.api-section {
  text-align: center;
  border: 2px;
  border-radius: 0 26px;
  height: auto;
  width: auto;
  background: grey;
  margin: 2rem 5rem;
  padding: 2rem 0;
  /*background-color:#4b2e5e
  background-color: #9d7bb3;
  background-color: rgb(32, 13, 49);*/
}


@media (max-width: 700px) {
  
.input-section {
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.input-section .first-form {
  width: 80%;
  background-color: green;
  flex-direction: column; 
}

.msg {
  width: 80%;
  align-self: center;
}



.input-button {
  display: flex;  
 
}

.smallscreenbtn {
  display: block;
}

.bigscreenbtn {
  display: none;
}

.location {
  background: white;
  outline: none;
  border: none;
  height: 2rem;
  width: 20rem;
  padding: 10px 15px;
  color: black;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 16px;
  margin-right: 0;
}

}
